<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.ac.common.cmcsinfoinqrymapper">
    <select id="selectaca1100one" parameterType="skcnc.framework.database.MetaHashMap" resultType="skcnc.framework.database.MetaHashMap">
        <![CDATA[
   SELECT *
     FROM ACA1100 A
    WHERE A.cif = #{cif}
      AND A.use_yn = 'Y'
      AND (A.cif, A.ctdt_dcd, A.regi_sno)
       IN (  SELECT X.cif, X.ctdt_dcd, MAX(X.regi_sno) AS regi_sno
               FROM ACA1100 X
              WHERE X.cif = A.cif
                AND X.use_yn = 'Y'
              GROUP BY X.cif, X.ctdt_dcd
           )
        ]]>
    </select>
</mapper>